@font-face {
    font-family: 'Minecraftia';
    src: url('Minecraftia.woff2') format('woff2'),
         url('Minecraftia.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}
html, body {
    width : 100%;
    height: 100%;
}

body, button, html, input, textarea {
    font-family   : 'Minecraftia', cursive;
    text-rendering: optimizeLegibility;
    color         : #FFF;
    font-size     : 16px;
    line-height   : 1.5;
    margin        : 0;
    padding       : 0;
}

body {
    overflow       : hidden;
    background     : #111;
}

canvas {
    image-rendering: optimizeSpeed; /* Older versions of FF */
    image-rendering: -moz-crisp-edges; /* FF 6.0+ */
    image-rendering: -webkit-crisp-edges;
    image-rendering: -webkit-optimize-contrast; /* Safari */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
    -ms-user-select    : none;
    -o-user-select     : none;
    -moz-user-select   : none;
    -webkit-user-select: none;
    position : absolute;
    border   : none;
    cursor   : crosshair;
    top      : 0;
    left     : 0;
}

#window  { position: relative; height:640px;}
#map     { z-index: 1; }
#players { z-index: 2; }
#effects { z-index: 3; }
#selector{
  cursor: pointer;
  width: 732px;
  height: 96px;
  bottom: 0;
  z-index: 4;
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
}

.wrapper {
    width    : 100%;
    max-width: 1024px;
    margin   : auto;
}

h1{
    background-image: url('/img/logo.png');
    width: 582px;
    height: 109px;
    margin: 40px auto;
    text-indent: -999px;
    overflow: hidden;
}
